* {
  margin: 0;
}

/* Delete arrow on inputs type number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

/* Buttons */
.button {
  padding: 7px 14px;
  border: 2px solid #2c2c2c;
  background-color: #1a1a1a;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 10px;
  margin: 0.5em;
  transition: all 0.4s ease;
  outline: none;
  position: relative;
  overflow: hidden;
  font-weight: bold;
}

.button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  transform: scale(0);
  transition: transform 0.9s ease;
}

.button:hover::after {
  transform: scale(4);
}

.button:hover {
  border-color: #666666;
  background: #292929;
}

/* errors */
.error-messages{
  color: red;
  border: solid 1px red;
  width: 50%;
  background-color: #f8d7da;
  border-radius: 10px;
  margin: 1em auto;
  font-weight: bolder;
  padding: 1em;
  text-align: center;
}